.media {
    margin-top: 95px;
    min-height: 700px;
    position: relative;
    padding: 30px 50px;
    background: linear-gradient(90deg, #000 40%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 100%);

    &__block {
        min-height: 700px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-right {
            position: absolute;
            top: 30px;
            right: 0;
            height: 100%;
            width: 40%;
            display: flex;
            justify-content: center;

            & img {
                width: 311px;
                height: 462px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }

        &-left {
            width: 50%;

            &-title {
                font-weight: 700;
                font-size: 50px;
                color: #fff;
                margin-bottom: 30px;
            }

            &-text {
                font-size: 20px;
                line-height: 150%;
                color: #fff;
                margin-bottom: 25px;
            }

            &-janr {
                font-family: "Montserrat";
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: rgba(255, 255, 255, 0.6);
                margin-bottom: 100px;
            }
        }

        &-actors {
            width: 100%;
        }

        &-title {
            font-size: 16px;
            line-height: 187%;
            color: #fff;
            margin-bottom: 30px;
        }
    }

    &__poster {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        object-fit: cover;
        z-index: -1;
        filter: blur(10px);
    }

}

.media__block-actors .info__actors {
    max-width: none !important;
    justify-content: center;
}